* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex ;
    flex-direction: column;
    justify-content: center; 
}

#zagolovok {
margin-top: 7rem ;
justify-content: center ;
display: flex;
}

#osnkvad {
/* 
    flex-direction: column;
    align-items: center;
    justify-content: center;  */
    display: block;
    width: 400px;
    height: 500px;

    background-color: black ;

}

.container {
    background-color:rgb(46, 12, 80);
    box-shadow: 0 4px 10px rgba(23, 4, 133, 0.5);
    width: 400px;

}

.reveiw {
    background-color:rgb(19, 5, 34);
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    width: 100%;
    position: relative;
    padding: 1rem;
}




#main{
    display:flex;
    justify-content: center;
}

body {
    background-color:rebeccapurple;
    color: white;

}
.generate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rebeccapurple;
    background-color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 10px;
    margin-left: 20%;
    margin-bottom: 5px;

}

.form-control {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 5px;
    /*justify-content: space-between;*/

}

.image {
  padding-right: 10px;
}

.clear {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rebeccapurple;
    background-color: white;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 5px;

}
